.header {
  padding: 10px;
  border: 1px solid red;
  transition: opacity 0.5s;

  @include hide(false, 0.2);

  @include hover {
    @include show(false);
  }
}

.header nav {
  display: flex;
  flex-direction: column;
  align-items: start;
}
